<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.product.mapper.ProductMapper">
    <!-- no, id, name, price, img, created_at, updated_at -->
    <select id="list" resultType="Product">
    SELECT * FROM product
    </select>

    <select id="read" resultType="Product">
    SELECT * FROM product
    WHERE id = #{id}
    </select>

    <insert id="insert">
    INSERT INTO product ( name, price , img)
    VALUES ( #{name}, #{price} , #{img})
    </insert>

    <update id="update">
    UPDATE product
       SET name = #{name}, 
           price = #{price},  
           updated_at = now()
    WHERE id = #{id}
    </update>

    <delete id="delete">
    DELETE FROM product
    WHERE id = #{id}
    </delete>
</mapper>